*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  line-height: 1;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

td {
  color: #333;
}

.wrapper {
  min-height: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* =============================================================== */

/* СЕТКА ЭЛЕМЕНТОВ */
.first{
  margin-top: 50px;
  height: 100%;
}

.first__title{
  font-size: 36px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter__btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  margin-right: 10px;
}

.filter__btn.active {
  color: blue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid__item {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.grid__item.one, .grid__item.three {
  grid-row: span 2;
}

/* Скрывает выбранный элемент */
.hidden{
  display: none;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*=== SECTION HOVER ===*/
.hover{
  margin-top: 100px;
}

.hover__title{
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}

.block-item {
  max-width: 250px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.block-item img {
  max-width: 250px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.3s ease;
  z-index: 2;
  
}

.block-item:hover .item-text {
  opacity: 1;
}

.block-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.block-item:hover::before {
  opacity: 1;
}



/*=== FORM ===*/
.registr{
  margin-top: 100px;
}

.registr__title{
  font-size: 36px;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

.registr__form{
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #a5ec93;
  border-radius: 5%;
  margin: 0 auto;
}

.registr__label{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #333;
}

.registr__input{
  padding: 5px;
  border-radius: 0.5rem;
  outline: none;
}

.registr__btn {
  border: 1px solid #74ab67;
  background-color: #33e20b;
  border-radius: 0.5rem;
  padding: 5px 15px;
}

/*=== Table ===*/
.registr__table{
  max-width: 80%;
  margin: 40px auto;
  
}

.registr__text{
  color: #333;
}

@media screen and (max-width: 680px) {
  td,
  th {
    padding: 0;
    text-align: left;
    font-size: 8px;
  }
}

@media screen and (min-width: 360px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    color: #333;
  }
}
